main {
  flex: 1;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#bio-page {
  z-index: 1;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--bg-color);
  overflow: auto;
  scrollbar-width: thin;
}

.backdrop {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100vh;
  backdrop-filter: blur(0px);
}

.bio-image {
  position: relative;
  margin-top: -500px;
  max-width: 1280px;
  animation: fadeIn 1s 0.6s ease-out backwards;

  @media (max-width: 1250px) {
    margin: auto;
    max-width: 100%;
  }
}

.textbox-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 1200px;

  & > :first-child {
    animation: fadeIn 1s 0.1s backwards;
  }

  @media (max-width: 1250px) {
    flex-direcxtion: row;
  }
}

.bio-text {
  display: flex;
  flex: 1;
  padding: 2rem;
  font-family: "Raleway", sans-serif;
  justify-content: space-between;

  @media (max-width: 1250px) {
    display: block;
  }

  h1 {
    font-weight: 300;
    font-size: 2.5rem;
    padding-right: 32rem;
    animation: fadeIn 1s 0.2s ease-out backwards;
  }

  p {
    font-weight: 300;
    color: var(--color-zinc-400);
    font-size: 1.2rem;
    max-width: 560px;
    animation: fadeIn 1s 0.4s ease-out backwards;

    @media (max-width: 1250px) {
      padding-top: 1rem;
    }
  }
}

.bio-image-group {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 628px;

  @media (max-width: 1250px) {
    display: block;
    margin-right: 0px;
    align-items: center;
    text-align: center;
  }
}

.paragraph-lyrics {
  font-style: italic;
  color: var(--color-zinc-600);
  animation: fadeIn 1s 1s backwards;
}

.image-credits {
  font-size: 0.8rem;
  color: var(--color-zinc-600);
}
