main {
  flex: 1;
}

#bio-page {
  z-index: 1;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--bg-color);
  overflow: auto;
  scrollbar-width: thin;
}

.backdrop {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100vh;
  backdrop-filter: blur(0px);
}

.bio-image {
  margin: 1rem;
}

.textbox-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 1200px;
    padding-top: 1.5rem;
}

.bio-text {
  display: flex;
  background-color: #000000;
  padding: 2rem;
  font-family: "Raleway", sans-serif;

  & > h1 {
    font-size: 2.5rem;
    font-weight: 300;
    padding-right: 32rem;
  }

  & > p {
    font-weight: 300;
    color: var(--color-zinc-400);
    font-size: 1.2rem;
    max-width: 580px;
    padding-top: 4rem;
  }
}

.paragraph-lyrics {
  font-style: italic;
  color: var(--color-zinc-600);
}

