#bio-page {
  z-index: 1;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--bg-color);
  overflow: auto;
  scrollbar-width: thin;
}

.bio-enclosure {
  display: flex;
}

.bio-image {
  margin: 1rem;
}

.bio-text {
    display: flex;
  max-width: 520px;
  background-color: #000000;
  padding: 2rem;

  & > h1 {
    font-size: 2.5rem;
    font-weight: 300;
        padding-right: 10rem;
  }

  & > span {
    font-weight: 400;
    font-size: 1rem;
  }
}
