/*  ------------------------------------------------------------------------------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'raleway', sans-serif;
}

video {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: .8;
}

video::-webkit-media-controls{display: none !important;}

#index {
    z-index: 1;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #16161D;

    overflow: auto;
    scrollbar-width: thin;
}

.backdrop {
    position: relative;
    min-height: 100vh;
    backdrop-filter: blur(0px);
}


/*  ------------------------------------------------------------------------------------------------------------------- */
/* ---- FOOTER STYLE ----- */

footer {
    font-family: 'raleway', sans-serif;
    padding-top: 0px;
    justify-content: center;
    text-align: center;
    font-size: 10px;
    color: white;
    margin: auto;
    letter-spacing: 1px;
    position: relative;
    transition: all 0.3s ease;
}

footer ul {
    list-style: none;
    display: block;
    justify-content: center;
    align-items: center;
    padding: 0; 
    background: transparent;
    transition: all 0.3s ease;
    margin: 0 auto 10px auto;
}

footer ul li {
    display: inline-block;
    list-style: none;
    padding: 0 16px;
}

footer a {
    color: white;
    font-size: 12px;
    font-weight: 500;
    text-decoration: none;
    transition: .3s;
}

footer a:hover {
    color: #06b6d4;
}

.copyright-legal  {
    font-size: 10px;
    color: oklch(37% 0.013 285.805);
    margin-top: 10px; 
}

/* ---- FOOTER STYLE ---- */
/*  ------------------------------------------------------------------------------------------------------------------- */

