/*  ------------------------------------------------------------------------------------------------------------------- */

:root {
  --bg-color: #16161d;
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "raleway", sans-serif;
}

video {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}

video::-webkit-media-controls {
  display: none !important;
}

.horizontal-list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*  ------------------------------------------------------------------------------------------------------------------- */

#index {
  z-index: 1;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--bg-color);
  overflow: auto;
  scrollbar-width: thin;
}

.backdrop {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100vh;
  backdrop-filter: blur(0px);
}

/*  ------------------------------------------------------------------------------------------------------------------- */
main {
  --offset: -500px;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  & > :first-child {
    margin-right: var(--offset);
  }

  & > :last-child {
  }
}

.header-image {
  z-index: -1;
  width: 80vw;
  max-width: 1000px;
  aspect-ratio: 1;
}

.header-bar {
  display: flex;
  gap: 48px;
  align-items: center;
  background-color: #00000055;
  padding: 32px;

  & > h1 {
    font-weight: 300;
  }
}

.navbar-list {
  gap: 12px;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
}

/*  ------------------------------------------------------------------------------------------------------------------- */
/* ---- FOOTER STYLE ----- */

footer {
  font-family: "raleway", sans-serif;
  padding: 48px;
  text-align: center;
  font-size: 10px;
  letter-spacing: 1px;
  position: relative;
  transition: all 0.3s ease;

  & ul {
    background: transparent;
    transition: all 0.3s ease;
    gap: 32px;
  }

  & a {
    font-size: 12px;
    font-weight: 500;
    text-decoration: none;
    transition: 0.3s;

    &:hover {
      color: #06b6d4;
    }
  }
}

.copyright-legal {
  font-size: 10px;
  color: oklch(37% 0.013 285.805);
  margin-top: 10px;
}

/* ---- FOOTER STYLE ---- */
/*  ------------------------------------------------------------------------------------------------------------------- */
