html {
  -webkit-text-size-adjust: 100%;
}

:root {
  --bg-color: #000000;
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s ease;

  &:hover {
    color: #06b6d4;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "raleway", sans-serif;
}

video {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}

video::-webkit-media-controls {
  display: none !important;
}

.horizontal-list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width: 768px) {
    justify-content: space-between;
  }
}
