/*  ------------------------------------------------------------------------------------------------------------------- */
html {
  -webkit-text-size-adjust: 100%;
}

:root {
  --bg-color: #16161d;
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s ease;

  &:hover {
    color: #06b6d4;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "raleway", sans-serif;
}

video {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}

video::-webkit-media-controls {
  display: none !important;
}

.horizontal-list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (width < 810px) {
    justify-content: space-between;
  }
}

/*  ------------------------------------------------------------------------------------------------------------------- */

#index {
  z-index: 1;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--bg-color);
  overflow: auto;
  scrollbar-width: thin;
}

.backdrop {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100vh;
  backdrop-filter: blur(0px);
}

/*  ------------------------------------------------------------------------------------------------------------------- */
main {
  --offset: -350px;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 2px 2px 20px #000000;

  & > :first-child {
    margin-right: var(--offset);

    @media (max-width: 1250px) {
      margin-right: 0;
      position: absolute;
    }

    @media (width < 810px) {
      margin-right: 0;
      align-items: stretch;
    }
  }
}

.header-image {
  z-index: -1;
  width: 80vw;
  max-width: 900px;
  aspect-ratio: 1;
  margin-top: 32px;

  @media (width < 810px) {
    max-width: 80vw;
  }
}

.header-bar {
  --vertical-offset: 350px;
  display: flex;
  gap: 48px;
  align-items: center;
  justify-content: center;
  padding: 32px;

  @media (width < 810px) {
    font-size: 0.75rem;
    padding: 0;
  }

  & > h1 {
    font-weight: 300;

    @media (width < 810px) {
    }
  }
}

.navbar-list {
  gap: 12px;
  font-size: 1.2rem;
  font-weight: 500;
  text-decoration: none;

  @media (width < 810px) {
    gap: 48px;
    font-size: 1.25rem;
    justify-content: space-between;
  }
}


/*  ------------------------------------------------------------------------------------------------------------------- */
/* ---- FOOTER STYLE ----- */

footer {
  font-family: "raleway", sans-serif;
  padding: 48px;
  font-size: 0.75rem;
  text-align: center;
  letter-spacing: 1px;
  position: relative;
  transition: all 0.3s ease;

  & ul {
    background: transparent;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 4px 32px;
  }

  & a {
    font-size: 0.75rem;
    font-weight: 500;
    text-decoration: none;
    transition: 0.3s;
  }
}

.copyright-legal {
  font-size: 0.625rem;
  color: oklch(37% 0.013 285.805);
  margin-top: 10px;
}

/* ---- FOOTER STYLE ---- */
/*  ------------------------------------------------------------------------------------------------------------------- */
